body {
  background: #fafcf6;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: 300;
  -webkit-tap-highlight-color: transparent; }

body,
html {
  height: 100%; }

h1,
h2,
h3,
h4 {
  font-weight: 300;
  font-size: 1.4em; }

h1 {
  font-style: italic;
  font-weight: bold;
  font-size: 22px; }

h2 {
  font-size: 18px; }

h3 {
  font-size: 2.3em;
  font-weight: 500; }

p {
  font-weight: 400; }

.noselect * {
  user-select: none; }

.container {
  height: 100%;
  margin: 0 auto;
  max-width: 900px;
  position: relative;
  width: 100%; }

#content-wrapper {
  height: 100%;
  min-height: 500px;
  width: 100%; }

.scroll-magic-section {
  height: 100%; }

#pin {
  overflow: hidden;
  width: 100%; }
  #pin h3 {
    margin: -40px 0 0 0;
    position: relative;
    top: 50%;
    font-size: 80px;
    line-height: 80px;
    text-align: center; }

#wipe {
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  width: 100%;
  background: #2e639e; }
  #wipe h3 {
    color: white; }

#second-wipe {
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  width: 100%;
  background: #ff832a; }

#slide {
  height: 100%;
  position: absolute;
  top: -100%;
  width: 100%;
  background: #c7e1ff; }
  #slide h3 {
    position: absolute;
    width: 100%; }

#slide-dos {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  width: 100%;
  background: #23282d;
  color: #e8ffe4; }

#unpin {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  background: #bed4ec; }

#parallax {
  height: 75%;
  width: 100%;
  background: url(img/surf.jpg) no-repeat;
  background-size: 100% auto;
  display: inline-block; }

#drawsvg {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  background: #368194; }
  #drawsvg svg {
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: block; }
  #drawsvg .svg {
    stroke: #f4ffec;
    display: block;
    fill: rgba(255, 255, 255, 0); }
